---
title: Home Page
description: "An Eleventy Starter Project leveraging Structured Data for SEO and Digital Persona Optimization"
eleventyNavigation:
  key: "Home"
  order: 1

numberOfLatestPostsToShow: 3

eleventyComputed:
  schemaorg:
    "@graph":
    - "@type": "WebPage"
      "@id": "{{ page.url | constructID(metadata.url, '#webpage') }}"
      about:
      - "@type": "Thing"
        "@id": "https://www.11ty.dev/"
        name: "Eleventy"
        alternateName:
        - "11ty"
        url: "https://www.11ty.dev/"
        sameAs:
        - "https://github.com/11ty/eleventy/"
        - "https://www.youtube.com/c/EleventyVideo"
        - "https://neighborhood.11ty.dev/@11ty"
        - "https://bsky.app/profile/11ty.dev"
      - "@type": "Thing"
        "@id": "https://schema.org"
        name: "schema.org"
        description: "Schema.org is an initiative by the major search engines to collaboratively create and maintain structured data on the Internet."
        url: "https://schema.org"
        sameAs: 
        - "https://schema.org/docs/about.html"
        - https://en.wikipedia.org/wiki/Schema.org
        - https://schema.org
      mentions: 
        - '@type': Event
          "@id": "https://11tymeetup.dev/events/ep-25-structured-data-and-deploying-11ty/"
    - '@type': Event
      "@id": "https://11tymeetup.dev/events/ep-25-structured-data-and-deploying-11ty/"
      name: "11ty Meetup #25"
      alternateName: "Eleventy Meetup #25"
      description: >-
        This is the 25th 11ty Meetup. It features two presentations. First presentation from Kaj Kandler about "How I added structured data to my personal website and blog". 
        The second presentation is by Michael W. Delaney, titled "Deploying 11ty Automatically"
      url: >-
        https://11tymeetup.dev/events/ep-25-structured-data-and-deploying-11ty
      startDate: '2015-07-23T06:00:00+02:00'
      endDate: '2015-07-23T19:00:00+02:00'
      eventAttendanceMode: 'https://schema.org/OnlineEventAttendanceMode'
      eventStatus: 'https://schema.org/EventScheduled'
      location:
        "@type": VirtualLocation
        name: "Online Meeting"
      sameAs:
        - https://11tymeetup.dev/events/ep-25-structured-data-and-deploying-11ty/
        - https://www.linkedin.com/events/eleventymeetup-257351487290721898496/comments/
      organizer:
        '@type': Person
        '@id': 'https://sia.codes/about/'
      performer:
      - "@type": Person
        "@id": '{{ "/" | constructID(metadata.url, "#person_kaj_kandler") }}'
        knows:
        - "@type": Person
          "@id": 'https://mwdelaney.me/'
        - '@type': Person
          '@id': 'https://sia.codes/about/'
      - "@type": Person
        "@id": 'https://mwdelaney.me/'
        name: Michel W Delaney
      about:
        - '@type': Thing
          '@id': 'https://www.11ty.dev/'
          name: Eleventy
          alternateName:
          - 11ty
          - Eleventy Static Site Generator
          url: https://www.11ty.dev/
          sameAs:
          - https://github.com/11ty/eleventy/
          - https://www.youtube.com/c/EleventyVideo
          - https://neighborhood.11ty.dev/@11ty
          - https://bsky.app/profile/11ty.dev
        - '@type': Thing
          '@id': 'https://schema.org'
        - '@type': Thing
          '@id': 'https://en.wikipedia.org/wiki/Software_deployment'
          name: Software Deployment 
          sameAs:
          - https://en.wikipedia.org/wiki/Software_deployment
        - "@type": VideoObject
          "@id": "https://www.youtube.com/watch?v=Z-83f8qa0_c"
    - "@type": Person
      "@id": 'https://mwdelaney.me/'
      name: Michel W Delaney
      givenName: Michael
      familyName: Delaney
      alternateName:
      - Michael Delaney
      - Michael W. Delaney
      - MWDelaney
      url: https://mwdelaney.me/
      jobTitle: web developer
      sameAs:
      - https://mwdelaney.me/
      - https://github.com/mwdelaney
      - https://bsky.app/profile/mwdelaney.me
      email: michael@michaeldelaney.me
      knows:
      - "@type": Person
        "@id": '{{ "/" | constructID(metadata.url, "#person_kaj_kandler") }}'
      - '@type': Person
        '@id': 'https://sia.codes/about/'
    - '@type': Person
      '@id': 'https://sia.codes/about/'
      name: Sia Karamalegos
      url: https://sia.codes/
      jobTitle: Web Performance Engineer
      sameAs:
      - https://sia.codes/about/
      - https://github.com/siakaramalegos
      - https://www.linkedin.com/in/karamalegos/
      - https://front-end.social/@sia
      - https://medium.com/@thegreengreek
      - https://www.instagram.com/sia.karamalegos/
      knows:
      - "@type": Person
        "@id": 'https://mwdelaney.me/'
      - "@type": Person
        "@id": 'https://mwdelaney.me/'
        name: Michel W Delaney
    - "@type": VideoObject
      "@id": "https://www.youtube.com/watch?v=Z-83f8qa0_c"
      name: Recording of Presentation
      headline: How I Added Schema Markup to my Eleventy Blog
      url: "https://www.youtube.com/watch?v=Z-83f8qa0_c"
      description: >-
        Kaj Kandler presents at THE 11ty Meetup #25 about adding schema markup to an 11ty website.
        Mr. Kandler demonstrates how to leverage the 11ty data cascade for adding schema markup. 
        His method avoids any dependencies on plugins.
      abstract: >-
        Kaj Kandler presents at THE 11ty Meetup #25 about adding schema markup to an 11ty website.
        Mr. Kandler demonstrates how to leverage the 11ty data cascade for adding schema markup. 
        His method avoids any dependencies on plugins.
      mainEntityOfPage: "https://www.youtube.com/watch?v=Z-83f8qa0_c"
      contentUrl: "https://www.youtube.com/watch?v=Z-83f8qa0_c"
      uploadDate: '2025-07-28T08:00:00-06:00'
      thumbnailUrl: 'https://i.ytimg.com/an_webp/Z-83f8qa0_c/mqdefault_6s.webp?du=3000&sqp=CJm4ocQG&rs=AOn4CLCfFZX4FpFwQgAxYgeig_QDkAWURg'
      embedUrl: 'https://www.youtube.com/embed/Z-83f8qa0_c?si=pgg5hn6Ji5NisdH_'
      author:
        '@type': Person
        '@id': 'https://kajkandler.com/'
      publisher:
        "@type": "Person"
        "@id": "https://sia.codes/about/"
      associatedArticle:
        '@type': NewsArticle
        '@id': https://kajkandler.github.io/eleventy-base-blog-with-schema/about/
        name: 11ty Meetup presentation
        url: https://kajkandler.github.io/eleventy-base-blog-with-schema/about/
      about:
      - "@type": "Thing"
        "@id": "https://www.11ty.dev/"

---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Now On YouTube: How I Added Schema Markup to my 11ty Blog</h2>
<p><a href ="https://www.youtube.com/watch?v=Z-83f8qa0_c"><img src="Video THE 11ty Meetup#25.png" alt="Recording of the 25th 11ty Meetup on 23rd of July 2025, featuring Kaj Kandler as Presenter" width="100%"></a>
<p><a href="https://kajkandler.com/">Kaj Kandler</a> presented this 11ty starter project at the 11ty Meetup in July 2025. 
<a href = "https://www.youtube.com/watch?v=Z-83f8qa0_c">The recording is available on YouTube</a></p> 

<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
  {%- for entry in collections.all %}
  <li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
  {%- endfor %}
</ul>
#}
